AZURE_OPENAI_API_KEY=
OPENAI_API_KEY=
AZURE_OPENAI_EMBEDDINGS_ENDPOINT=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_REASONING_ENDPOINT=
AZURE_OPENAI_API_VERSION=
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=
AZURE_OPENAI_CHAT_DEPLOYMENT=
